<h5 style="background-color:grey;color:white;width:150px">ジャンル編集</h5>
<%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
<%= f.label :name,"ジャンル名" %>
<%= f.text_field :name, class: 'form-control book_title' %>
<%= link_to "変更を保存する", admin_genre_path,class: 'btn btn-success' %>
<% end %>

