<div class="container">
  <div class="row">
    <div class="col">
      <h3>商品一覧<small>(全</small><small><%= @items.count %></small><small>件)</small></h3>


<% @items.each do |item| %>
<% image_tag item.get_item_image
<%= item.name %>
￥<%= item.price %>
<% end %>

    </div>
  </div>
</div>
